<div>
  <header >
    <div class="site-name">Create card</div>
    <div style="display: flex; justify-content: center;">
      <ul>
        <%= link_to "Back to list", users_path, id: 'headerLink' %>

      </ul>
    </div>
  </header>

  <div>
    <%= form_with(id: 'modelForm', model: @biblioteka, local: true) do |form| %>
      <div>
        <%= form.label :date_issued %>
        <%= form.text_field :date_issued, class: 'form-control' %>
        <%= form.label :date_expired %>
        <%= form.text_field :date_expired, class: 'form-control' %>
        <%= form.label :user_id %>
        <%= form.text_field :user_id, class: 'form-control' %>
        <%= form.label :biblioteka_id %>
        <%= form.text_field :biblioteka_id, class: 'form-control' %>
      </div>

      <div >
        <%= form.submit class: 'form-control btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

