<header >
  <div class="site-name">
    <p >Show details of author<%= @author.id %></p>
  </div>
  <div style="display: flex; justify-content: center;">

  </div>
</header>

<div >

  <div >

        <h2>Name:</h2>
        <p><%= @author.name %></p>
        <h2>Id:</h2>
        <p><%= @author.id %></p>



  </div>
  <%= link_to "Back to list", root_path %>

  <div id = "root_buttons", style="margin-top: 10%;     justify-content: left;  align-items: center;">
    <td><%= button_to 'Edit', edit_author_path(@author), method: :get, id: 'rootBtn'%></td>
    <td><%= button_to 'Remove', author_path(@author), method: :delete, data: { confirm: 'Are you sure?' }, id: 'rootBtn' %></td>
  </div>
</div>
