<header >
  <div class="site-name">Listing users</div>
  <div style="display: flex; justify-content: center;">
    <ul>
      <li><%= link_to 'Create users', new_user_path, id: 'headerLink' %></li>
    </ul>
  </div>
</header>

<div >

  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, "Search by Name" %>
    <%= f.search_field :name_cont %>
    <%= f.submit "Search" %>
  <% end %>


    <table id ='modelsTable' style = 'margin-top: 155px'>
      <thead id = 'modelsThead'>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user_path(user.id) %></td>

      <% end %>
      </table>


</div>