

<header >
  <div class="site-name">Listing libraries</div>
  <div style="display: flex; justify-content: center;">
    <ul>
      <li><%= link_to 'Create libraries', new_biblioteka_path, id: 'headerLink' %></li>
    </ul>
  </div>
</header>

<div>




    <table id = 'modelsTable'>
      <thead id = 'modelsThead'>
      <tr>
        <th > <%= link_to "Library Name",  bibliotekas_path(sort: "name") %>
          <div id = "mySearch">
          <%= search_form_for @q do |f| %>
            <%= f.label :name_cont, "Search by Name" %>
            <%= f.search_field :name_cont %>
            <%= f.submit "Search" %>
          <% end %>
        </div>

        </th>
        <th > <%= link_to "Number of Books", bibliotekas_path(sort: "book_count") %></th>
        <th > <%= link_to "Number of Genres", bibliotekas_path(sort: "genre_count") %></th>

        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @bibliotekas.each do |biblioteka| %>
        <tr>
          <td><%= biblioteka.name %></td>
          <td><%= biblioteka.books.count %></td>
          <td><%= biblioteka.books.select(:genre_id).distinct.count %></td>
          <td><%= link_to 'Show', biblioteka_path(biblioteka.id) %></td>

      <% end %>
      </table>

  <div id = "export_buttons">
  <%= button_to 'download libs pdf', 'libs_report' , method: 'get', id: 'exportBtn'%>
    <%= button_to 'download users pdf', 'users_report' , method: 'get', id: 'exportBtn'%>
  <%= button_to 'download libs csv', 'libs_csv_report.csv', method: 'get', id: 'exportBtn'%>
  </div>
  <div id = "myPagination">
    <%= will_paginate @bibliotekas %>
  </div>

</div>
