<header >
  <div class="site-name">Library info</div>
  <div style="display: flex; justify-content: center;">
    <ul>
      <%= link_to "Back to list", root_path, id: 'headerLink' %>
      <%= link_to "Users", users_path, id: 'headerLink' %>
    </ul>
  </div>
</header>


  <div >


        <h2>Name:</h2>
        <p><%= @biblioteka.name %></p>
        <h2>Address:</h2>
        <p><%= @biblioteka.address %></p>
        <h2>Phone:</h2>
        <p><%= @biblioteka.phone %></p>


    <div id = "root_buttons", style="margin-top: 10%;     justify-content: left;  align-items: center;">
      <%= button_to 'Edit', edit_biblioteka_path(@biblioteka), method: 'get', id: 'rootBtn'%>
      <%= button_to 'Remove', biblioteka_path(@biblioteka), method: 'delete', data: { confirm: 'Are you sure?' }, id: 'rootBtn'%>
    </div>

  </div>


