
<header >
  <div class="site-name">Update book Details</div>
  <div style="display: flex; justify-content: center;">
    <ul>
      <%= link_to "Back to list", root_path, id: 'headerLink' %>
      <%= link_to "Users", users_path, id: 'headerLink' %>
    </ul>
  </div>
</header>

<%= form_with  id: 'modelForm', model: @book do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, class: 'form-control' %>
  <%= form.label :author_id %>
  <%= form.text_field :author_id, class: 'form-control' %>
  <%= form.label :biblioteka_id %>
  <%= form.text_field :biblioteka_id, class: 'form-control' %>
  <%= form.label :genre_id %>
  <%= form.text_field :genre_id, class: 'form-control' %>
  <%= form.submit %>
<% end %>
