<div >
  <header >
    <div class="site-name">Create book</div>
    <div style="display: flex; justify-content: center;">
      <ul>
        <%= link_to "Back to list", users_path, id: 'headerLink' %>

      </ul>
    </div>
  </header>
  <div>
    <%= form_with(id: 'modelForm', model: @book, local: true) do |form| %>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
        <%= form.label :author_id %>
        <%= form.text_field :author_id, class: 'form-control' %>
        <%= form.label :biblioteka_id %>
        <%= form.text_field :biblioteka_id, class: 'form-control' %>
        <%= form.label :genre_id %>
        <%= form.text_field :genre_id, class: 'form-control' %>
      </div>

      <div >
        <%= form.submit class: 'form-control btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

