<div >
  <header >
    <div class="site-name">
      <p >Show details of book <%= @book.id %></p>
    </div>
    <div style="display: flex; justify-content: center;">
      <%= link_to "Back to list", root_path, id:'headerLink'%>
    </div>
  </header>
  <div >

        <h2>Title:</h2>
        <p><%= @book.title %></p>
        <h2>Author:</h2>
        <p><%= @book.author.name %></p>
        <h2>Biblioteka:</h2>
        <p><%= @book.biblioteka.name %></p>
        <h2>Genre:</h2>
        <p><%= @book.genre.name %></p>

  </div>


  <div id = "root_buttons", style="margin-top: 10%;     justify-content: left;  align-items: center;">
    <td><%= button_to 'Edit', edit_book_path(@book), method: 'get', id: 'rootBtn'%></td>
    <td><%= button_to 'Remove', book_path(@book), method: 'delete', data: { confirm: 'Are you sure?' }, id: 'rootBtn' %></td>
  </div>

</div>
